.header {
  margin-bottom: var(--spacer);
  max-width: 50rem;
}

.title {
  font-size: var(--font-size-h3);
  margin-top: 0;
  margin-bottom: 0;
  display: inline-flex;

  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

/* Teaser full-width background image */
.homeTitleContainer:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100vw;
  background: url('/images/flex4res-bg.webp');
  background-size: cover;
  background-position: bottom;
  z-index: -1;
}

.homeTitleContainer {
  position: relative;
  padding: calc(var(--spacer) * 5) 0 calc(var(--spacer) * 6) 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeTitleContainer > svg {
  width: var(--home-brand-logo-size-width);
  height: var(--home-brand-logo-size-height);
}

.homeTitleContainer h1 {
  color: var(--color-primary);
  margin-bottom: 0;
}

.homeTitleContainer .subtitle p {
  margin: calc(var(--spacer) / 4) 0;
  font-size: var(--font-size-h3);
}

.logoContainer {
  position: relative;
  margin: calc(var(--spacer) / 2) 0;
}

.logoContainerTitle {
  position: absolute;
  width: max-content;
  top: 1.8rem;
  left: -1.7rem;
  color: var(--brand-gaia-x-blue);
  font-size: var(--font-size-h5);
}

.logoContainer svg {
  width: var(--home-gaia-x-logo-size-width);
  height: var(--home-gaia-x-logo-size-height);
}

@media (min-width: 40rem) {
  .title {
    font-size: var(--font-size-h2);
  }
}

.description {
  font-size: var(--font-size-h3);
  margin-top: calc(var(--spacer) / 4);
  margin-bottom: 0;
  color: var(--color-secondary);
  font-weight: bold;
}

.center,
.search {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.search {
  display: flex;
  justify-content: center;
  margin-top: calc(var(--spacer) / 2);
  width: 100%;
  max-width: 35rem;
}
