.container {
  margin-bottom: var(--spacer);
  margin-top: calc(var(--spacer) * -2);
}

.background {
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(var(--spacer) * 16);
  background: url('/images/flex4res-bg.webp');
  background-size: cover;
  background-position: bottom;
  z-index: -1;
}

.paragraphs {
  margin-top: calc(var(--spacer) * 4);
}

@media screen and (min-width: 54rem) {
  .paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacer);
    text-align: right;
  }

  .paragraph.mirror {
    flex-direction: row-reverse;
    text-align: left;
  }
}

.teaser {
  padding: calc(var(--spacer) * 4) 0;
}

.teaser h1 {
  margin: 0;
}

.teaser h2 {
  color: var(--color-secondary);
}

.paragraph > * {
  flex: 1 1 0;
  margin-top: calc(var(--spacer) * 2);
}

.interactivity {
  max-width: 35rem;
  margin: auto;
}

.content button,
.content a[class*='button'] {
  display: block;
  margin: var(--spacer) auto;
  margin-right: auto;
}
