.footer {
  padding: var(--spacer);
  padding-bottom: calc(var(--spacer) / 2);
  text-align: center;
  color: var(--footer-font-color);
  background: var(--footer-background-color);
  font-size: var(--font-size-small);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
  gap: var(--spacer);
}

.siteTitle {
  text-align: left;
  margin-bottom: 0;
  font-weight: bold;
}

.main {
  margin: auto auto calc(var(--spacer) * 2);
  text-align: left;
  color: var(--footer-font-color);
  max-width: 30rem;
}

.main img {
  margin-left: 0;
  margin-top: auto;
}

.copyright a {
  color: var(--footer-font-color-highlight);
}

@media screen and (min-width: 65rem) {
  .footer {
    padding: calc(var(--spacer) * 2);
    padding-bottom: calc(var(--spacer) / 2);
  }
  .container {
    flex-direction: row;
    justify-content: space-between;
    gap: calc(var(--spacer) / 2);
  }
}
